<body-card title="Your Pronostics">

  <div class="box-body">
    <div class="form-group row">

      <div class="col-sm-3 col-form-label text-right">
        <label>Date</label>
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="https://image.flaticon.com/icons/svg/42/42446.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
            </button>
          </div>          
        </div>
      </div>
      <div class="col-md-6">
        
        <button class="btn btn-primary mb-2" (click)="search()">Search</button>
        
        &nbsp;&nbsp;&nbsp;
        
        <button class="btn btn-primary mb-2 " [routerLink]="['/nextmatch']">
          Next unclosed matches
        </button>
      
      </div>
     
    </div>

    <fieldset class="scheduler-border" *ngFor="let item of matchItems">
      <legend class="scheduler-border">{{item.match.matchDate | date:'dd MMMM'}} | {{item.match.matchDate |
        date:'shortTime'}}</legend>

      <div class="row">
        <div class="col-sm-1">
          <div class="col-sm-1 text-center">
            <label *ngIf="!item.match.isClosedAndCalculated && item.isClosed" style="width: 80px; color: white; background: green; padding: 5px 5px 0px 5px">Playing
              <app-liveresult [fifaid]="item.match.fifaId"></app-liveresult></label>
            <label *ngIf="item.match.isClosedAndCalculated" style="width: 80px; color: white; background-color: red; padding: 7px;">Finished
              <app-liveresult [fifaid]="item.match.fifaId"></app-liveresult></label>
            <label *ngIf="!item.match.isClosedAndCalculated && !item.isClosed" style="color: white; background-color: #FFDB58; padding: 7px;">Waiting
            </label>
          </div>

        </div>
        <div class="col-sm-11">
          <div class="row">

           
            <div class=" col-sm-2 text-center">
              <span>
                <h3>{{item.match.eventFirstTeam.team.name}}</h3>
              </span>
            </div>
            <div class="col-sm-1 text-center">
                <img width="50px" height="30px" src="{{item.match.eventFirstTeam.team.teamPictureUrl}}" />
              </div>
            <div class=" col-md-1 text-center" style="border-right: 1px groove !important;">
              <span style="font-size: 3rem; font-weight: bold">
                {{item.firstTeamGoals}}</span> &nbsp;
                <br class="d-none d-lg-block">
              <input type="radio" disabled id="cbxPenalFirst" [checked]="item.winByPenalties && item.firstTeamGoals > item.secondTeamGoals">
              <b> Penal</b> 
            </div>

            <div class=" col-md-1 text-center">
                <span style="font-size: 3rem; font-weight: bold;">
                {{item.secondTeamGoals}}</span> &nbsp;
                <br class="d-none d-lg-block">
                <input type="radio" disabled id="cbxPenalSecond" [checked]="item.winByPenalties && item.secondTeamGoals > item.firstTeamGoals">
                <b> Penal</b>
            </div>
            <div class=" col-sm-1 text-center">
                <img width="50px" height="30px" src="{{item.match.eventSecondTeam.team.teamPictureUrl}}" />
              </div>
            <div class=" col-sm-2 text-center">
              <span>
                <h3>{{item.match.eventSecondTeam.team.name}}</h3>
              </span>
            </div>            
            <div class="col-md-3 text-center">
              <button class="btn btn-primary" [ngClass]="{disabled : item.isClosed}" (click)="!item.isClosed && addResult(item.id)">Set
                Result</button>
              &nbsp;
              <button class="btn btn-primary" [ngClass]="{disabled : !item.isClosed}" (click)="item.isClosed && viewAll(item.match.id)">All
                Pronostics</button>
                &nbsp;
              <button class="btn btn-primary" [ngClass]="{disabled : !item.match.isClosedAndCalculated}" (click)="item.match.isClosedAndCalculated && viewWinner(item.match.id)">Winners</button>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-3">
            </div>
            <div class=" col-sm-1 text-center">
              <label><input type="radio" disabled id="cbxPenalFirst" [checked]="item.winByPenalties && item.firstTeamGoals > item.secondTeamGoals">
                Penal </label>
            </div>

            <div class=" col-sm-1 text-center">
              <label><input type="radio" disabled id="cbxPenalSecond" [checked]="item.winByPenalties && item.secondTeamGoals > item.firstTeamGoals">
                Penal</label>
            </div>
            <div class=" col-sm-4">

            </div>

          </div> -->

        </div>
      </div>


    </fieldset>
  </div>


</body-card>