/* You can add global styles to this file, and also import other style files */
.container-fluid {
    padding-top: 25px;
  }
  
  footer .container-fluid {
    padding-top: 0;
  }
  @media (min-width: 1200px){
    .container-fluid {
        max-width: 90% !important;
    }
  }
  